.DS_Store
.fontcustom-manifest.json
.sass-cache/
uml/
Gemfile.lock
_temp/
_newsletters/send.sh
gnuplot/
css/_icons.scss
vendor
.idea
node_modules
.vagrant
cmake-3.5.1.tar.gz
ubuntu-xenial-16.04-cloudimg-console.log
woff-code-latest.zip
bin/
_gnuplot/
/nbproject
_site/