<footer class="footer-style-two">
        <div class="footer-top-2">
            <div class="container">
                <div class="row"> 
                    <div class="col-md-12 text-center">
                        <div class="footer-logo-area text-center">
                            <h2 class="logo"><a href="#">
                                <!-- <img src="images/logo/1.png" alt=""> -->
                                <!-- <h2 class="theinfinitica-h2">theinfinitica</h2> -->
                                <a href="index.html"><img src="images/logo2.png" alt="" class="main-logo"></a>
                            </a></h2>
                            <p>A Range of industrial, Co-Operate and Gifting Customised products 
                            </p>
                        </div>
                        <a href="/contact.html" class="button">Contact us <i class="ti-arrow-right"></i></a>
                        <div class="social-bookmark-area">
                            <ul class="social-bookmark list-inline">
                                    <li><a href="https://www.facebook.com/The-infinitica-112803940089728/?modal=admin_todo_tour" target="_blank"><i class="fa fa-facebook"></i></a> </li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a> </li>
                                    <li><a href="https://www.instagram.com/the_infinitica/" target="_blank"><i class="fa fa-instagram"></i></a> </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="copy-right">
                            <p>All &copy; reserved by <a href="#">theinfinitica</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>