<header id="header-sticky" class="header-area header-style-one header-sticky">
    <div class="header-middle-area">
        <div class="container">
            <div class="row">
                <div class="col-md-2  col-sm-2 col-xs-3">
                    <div class="logo">
                        <a href="index.html"><img src="images/logo/1.png" alt=""></a>
                    </div>
                </div>
                <div class="col-md-10 col-sm-10 hidden-xs hidden-sm">
                    <div class="menu-area">
                        <nav>
                            <ul class="main-menu clearfix hover-style-one">
                                <li>
                                        <a {% if page.url == "/index.html" %}class="active "{% endif %} href="index.html" class="item" href="#">Home 
                                        </a>
                                </li>
                                <li>
                                        <a {% if page.url == "/gallery.html" %}class="active "{% endif %} href="gallery.html" class="item" href="#">Gallery 
                                        </a>
                                </li>
                                <li>
                                        <a {% if page.url == "/blog.html" %}class="active "{% endif %} href="blog.html" class="item" href="#">Blog
                                        </a>
                                </li>
                                <li>
                                        <a {% if page.url == "/about-me.html" %}class="active "{% endif %} href="about-me.html" class="item" href="#">About Me
                                        </a>
                                </li>
                                <li>
                                        <a {% if page.url == "/contact.html" %}class="active "{% endif %} href="contact.html" class="item" href="#">Contact
                                        </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="clearfix"></div>
                <!-- Mobile menu area start -->
				<div class="wpsuptr-mobile-menu-area hidden-md hidden-lg mean-container"><div class="mean-bar"><a href="#nav" class="meanmenu-reveal" style="right: 0px; left: auto; text-align: center; text-indent: 0px; font-size: 18px;"><span></span><span></span><span></span></a><nav class="mean-nav">
						<ul style="display: none;">
							<li><a href="#">Home</a>
								<ul style="display: none;">
									<li><a href="index.html">motafo - Home 1 </a></li>
									<li><a href="index-2.html">motafo - Home 2</a></li>
									<li><a href="index-3.html">motafo - Home 3</a></li>
									<li><a href="index-4.html">motafo - Home 4</a></li>
									<li><a href="index-5.html">motafo - Home 5</a></li>
								</ul>
							<a class="mean-expand" href="#" style="font-size: 18px">+</a></li>
							<li><a href="#">Portfolio</a>
								<ul style="display: none;">
										<li>
												<a {% if page.url == "/index.html" %}class="active "{% endif %} href="index.html" class="item" href="#">Home 
												</a>
										</li>
										<li><a {% if page.url == "/gallery.html" %}class="active "{% endif %} href="gallery.html" class="item" href="#">Gallery 
												</a>
										</li>
										<li><a {% if page.url == "/blog.html" %}class="active "{% endif %} href="blog.html" class="item" href="#">Blog
												</a>
										</li>
										<li>
												<a {% if page.url == "/about-me.html" %}class="active "{% endif %} href="about-me.html" class="item" href="#">About Me
												</a>
										</li>
										<li>
												<a {% if page.url == "/contact.html" %}class="active "{% endif %} href="contact.html" class="item" href="#">Contact
												</a>
										</li>
						</ul>
					</nav></div>
				<div class="col-sm-12">
					<div class="mean-push"></div><nav class="wpsuptr-mobile-menu" style="display: none;">
						<ul>
							<li><a href="#">Home</a>
								<ul>
									<li><a href="index.html">motafo - Home 1 </a></li>
									<li><a href="index-2.html">motafo - Home 2</a></li>
									<li><a href="index-3.html">motafo - Home 3</a></li>
									<li><a href="index-4.html">motafo - Home 4</a></li>
									<li><a href="index-5.html">motafo - Home 5</a></li>
								</ul>
							</li>
							<li><a href="#">Portfolio</a>
								<ul>
									<li><a href="#">portfolio Masonry</a>
										<ul>
											<li><a href="portfolio-2-column-masonry-gutter.html">2 column
													Gutter</a></li>
											<li><a href="portfolio-2-column-masonry-gutter-full.html">2
													column
													Gutter Full</a></li>
											<li><a href="portfolio-2-column-masonry-no-gutter.html">2
													column No
													Gutter</a></li>
											<li><a href="portfolio-2-column-masonry-no-gutter-full.html">2
													column No Gutter Full </a></li>
											<li><a href="portfolio-3-column-masonry-gutter.html">3 column
													Gutter</a></li>
											<li><a href="portfolio-3-column-masonry-gutter-full.html">3
													column
													Gutter Full</a></li>
											<li><a href="portfolio-3-column-masonry-no-gutter.html">3
													column No
													Gutter</a></li>
											<li><a href="portfolio-3-column-masonry-no-gutter-full.html">3
													column No Gutter Full </a></li>
											<li><a href="portfolio-4-column-masonry-gutter.html">4 column
													Gutter</a></li>
											<li><a href="portfolio-4-column-masonry-gutter-full.html">4
													column
													Gutter Full</a></li>
											<li><a href="portfolio-4-column-masonry-no-gutter.html">4
													column No
													Gutter</a></li>
											<li><a href="portfolio-4-column-masonry-no-gutter-full.html">4
													column No Gutter Full </a></li>
										</ul>
									</li>
									<li><a href="#">portfolio Grid</a>
										<ul>
											<li><a href="portfolio-2-column-boxed-gutter.html">2 column
													Gutter</a></li>
											<li><a href="portfolio-2-column-boxed-gutter-full.html">2
													column
													Gutter Full</a></li>
											<li><a href="portfolio-2-column-boxed-no-gutter.html">2 column
													No
													Gutter</a></li>
											<li><a href="portfolio-2-column-boxed-no-gutter-full.html">2
													column
													No Gutter Full </a></li>
											<li><a href="portfolio-3-column-boxed-gutter.html">3 column
													Gutter</a></li>
											<li><a href="portfolio-3-column-boxed-gutter-full.html">3
													column
													Gutter Full</a></li>
											<li><a href="portfolio-3-column-boxed-no-gutter.html">3 column
													No
													Gutter</a></li>
											<li><a href="portfolio-3-column-boxed-no-gutter-full.html">3
													column
													No Gutter Full </a></li>
											<li><a href="portfolio-4-column-boxed-gutter.html">4 column
													Gutter</a></li>
											<li><a href="portfolio-4-column-boxed-gutter-full.html">4
													column
													Gutter Full</a></li>
											<li><a href="portfolio-4-column-boxed-no-gutter.html">4 column
													No
													Gutter</a></li>
											<li><a href="portfolio-4-column-boxed-no-gutter-full.html">4
													column
													No Gutter Full </a></li>
										</ul>
									</li>
									<li><a href="single-project-one.html">single Project 1</a></li>
									<li><a href="single-project-two.html">single Project 2</a></li>
									<li><a href="single-project-three.html">single Project 3</a></li>
								</ul>
							</li>
							<li><a href="about-me.html">Pages</a>
								<ul>
									<li><a href="about-us.html">About Us</a></li>
									<li><a href="about-me.html">About Me</a></li>
									<li><a href="contact.html">Contact</a></li>
									<li><a href="contact-2.html">Contact 2</a></li>
									<li><a href="coming-soon.html">coming soon</a></li>
									<li><a href="404.html">404 Not Found</a></li>
								</ul>
							</li>
							<li><a href="#">Shortcodes </a>
								<ul>
									<li><a href="shortcode-accordion.html">accordion</a></li>
									<li><a href="shortcode-button.html">buttons</a></li>
									<li><a href="shortcode-breadcrumb.html">breadcrumb</a></li>
									<li><a href="shortcode-service-box.html">service box</a></li>
									<li><a href="shortcode-progressbar.html">progressbar</a></li>
									<li><a href="shortcode-tab.html">Shortcodes Tabs</a></li>
								</ul>
							</li>
							<li><a href="#">Blog </a>
								<ul class="dropdown-show-right">
									<li><a href="blog.html">Blog Default</a></li>
									<li><a href="blog-left-sidebar.html">Blog Left Sidebar</a></li>
									<li><a href="blog-right-sidebar.html">Blog Right Sidebar</a></li>
									<li><a href="single-post-full-width.html">Post Full width</a></li>
									<li><a href="single-post-left-sidebar.html">Post Sidebar Left</a></li>
									<li><a href="single-post-right-sidebar.html">Post Sidebar Right</a></li>
								</ul>
							</li>
							<li><a href="contact.html">Contact</a></li>
						</ul>
					</nav>
				</div>
			</div>
                <!-- Mobile menu area end -->
            </div>
        </div>
    </div>
</header>